/* background yellow: rgb(243,197,49) */
body {
    background-color: rgb(243,197,49);
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    min-height: 100%;
    padding-bottom: 58px;
    font-family: 'Courier New', Courier, monospace;
}

.center{
    text-align: center;
    margin: auto;
    align-content: center;
    min-height: 100%;
    padding: 20px;
}

i {
    color: gray;
}

/* Styles for header start */
.container > nav {
    padding: 10px;
    text-align: center;
    font-size: 2em;
  }
header, footer {
    background-color: rgb(243,197,49);
}
  nav > ul {
      align-content: center;
  }

  nav > ul > .justify-content-end {
    justify-content: end;
  }
/* Styles for header end */

#centeredContent {
    background-color: white;
    margin: 0 auto;
    padding: 20px;
    width: 500px;
    border-radius: 4%;
}
/* Styles for forms start */
form {
    background-color: white;
    border-radius: 4%;
    margin: 20px auto;
    max-width: 460px;
    padding: 20px;
}

.errorMessage {
    background-color: red;
    color: white;
    font-weight: bold;
}

input {
    margin: 10px 0;
    border-bottom: 1px solid black; 
    
}
input::textbox .form-control {
    border-bottom: 1px solid black; 
}

.articleBox .articlePreviewBox {
    border: 1px solid black;
}
/* Styles for forms end */

/* Styles for index page start */
.homeBg {
    background: url("/images/coffeebeans-cover.jpg");
    background-size: cover;
    background-position: center;
    color: white;
    width: 100vw;
    height: 80vh;
}

main img {
    width: 50%;
    margin: auto;
    align-content: center;
    left: -25%;
    /* height: 80vh;  */
}

main > .row {
    align-content: center;
}
main .row1 .row3 {
    height: 15vh;
    
}

main .row2 {
    height: 50vh;
    align-content: center;
}

.companyName {
    font-size: 5rem;
}
/* Styles for index page end */
#footer {
    bottom: 0;
    font-size: small;
    padding: 20px;
    position: fixed;
    text-align: center;
    width: 100%;
}

/* Styles for errors pages start */
div > .row > .container > .errors {
    background-color: white;
    margin-top: 20px;
    width: 100vw;
    align-content: center;
}

.textHuge {
    margin-top: 20px;
    font-size: 4rem;
}
/* Styles for errors pages start */



.styleform label{
    text-align:left;}

    .styleform input{
        text-align:right;
        /*float:right;*/}
/*
.styleform label{float:left;}
.styleform input{float:right;}  this gives space for the label on the left 
.styleform .clear{clear:both;}  prevent elements from stacking weirdly */