/* background yellow: rgb(243,197,49) */
body {
    background: url(/images/Jitters-Icon.png.jpg);
    background-repeat: no-repeat;
    background-size: auto;
    background-color: rgb(243,197,49);
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    min-height: 100%;
    padding-bottom: 58px;
    font-family: 'Courier New', Courier, monospace;
}

.container > nav {
    padding: 10px;
    text-align: center;
    font-size: 2em;
    color: #ffeead;
  }

#centeredContent {
    background-color: rgb(243,197,49);
    margin: 0 auto;
    padding: 20px;
    width: 500px;
}

.errorMessage {
    background-color: red;
    color: white;
    font-weight: bold;
}

form {
    margin: 20px auto;
    max-width: 460px;
    padding: 20px;
}

input {
    margin: 10px 0;  
    
}

.articleBox .articlePreviewBox {
    border: 1px solid black;
}

.center{
    text-align: center;
    margin: auto;

}

i {
    color: gray;
}

#footer {
    bottom: 0;
    font-size: small;
    padding: 20px;
    position: fixed;
    text-align: center;
    width: 100%;
}
.styleform label{
    text-align:left;}

    .styleform input{
        text-align:right;
        /*float:right;*/}
/*
.styleform label{float:left;}
.styleform input{float:right;}  this gives space for the label on the left 
.styleform .clear{clear:both;}  prevent elements from stacking weirdly */