{% extends "master.html.twig" %}

{% block title %}Add Item Success{% endblock %}

{% block content %}
      <p>Item added successfully</p><br>
      <p>   return to <a href="/additem"> Add Items </a>Or return to <a href="/adminmenu"> Admin Menu </a></p>
{% endblock %}