{% extends "master.html.twig" %}

{% block title %}Add Item Success{% endblock %}

{% block content %}
      <p>Item added successfully</p>
      <!--p><a href="/article/{{id}}">Click to view the new article</a></p-->
{% endblock %}