{% extends "master.html.twig" %}

{% block title %}Admin Add Item{% endblock %}

{% block content %}
    <h1>Admin Add Item</h1>
    {% if errorList %}
        <ul class="errorMessage">
        {% for error in errorList %}
            <li>{{error}}</li>
        {% endfor %}
        </ul>
    {% endif %}
    <div class="styleform">
    <form method="post">
    <label for="inputPassword" class="sr-only">Name:</label>
    <input type="text" name="itemName" value="{{ v.itemName }}" id="inputItemName" class="form-control" placeholder="item name" required=" " autofocus=""><br/>

        <input type="text" name="itemName" value=""><br>

        <label>Description: </label><input type="textblock" name="description" value=""><br>


        <label for="categoryCode">Category Code: <input type="text" name="categoryCode" value=""></label><br>
        <label>Inventory Flag: <input type="checkbox" name="inventoryFlag" value=""></label><br>
        Quantity On Hand: <input type="number" name="quantityOnHand" value=""><br>
        Price:            <input type="number" name="price" step="any" value=""><br>
        Photo File Path:  <input type="text" name="photofilepath" value=""><br>
        <input type="submit" value="Admin Add Item">
    </form>
    </div>
{% endblock %}