{% extends "master.html.twig" %}

{% block title %}Admin Menu{% endblock %}

{% block content %}
    
{#
<form class="form-admin center"> #}
		<form class="form-admin">

		<h1>Admin Menu</h1>
    

  <nav class ="navbar">  
    <ul class ="navbar-nav">
          <li class ="nav-item">
            <a class ="nav-link" href="/additem"> Add Items </a>
          </li>
          <li class ="nav-item">
            <a class ="nav-link" href="#"> Add Card - under developement </a>
          </li>
          <li class ="nav-item">
            <a class ="nav-link" href="#"> Not Implemented </a>
          </li>
          <li class ="nav-item">
            <a class ="nav-link" href="#"> Not Implemented </a>
          </li>
      </ul>
  </nav>
<div class =”container”>
<p> This Page is under developement </P>
</div>
       
 
</form>






    
{% endblock %}