{% extends "admin/master.html.twig" %}

{% block title %}Admin Menu
{% endblock %}
{% block header %}{% endblock header %}
{% block content %}
	<div class="row">
		<div class="col-sm-2">
			<nav class="nav flex-column">
				<p class="justify mt-2">Welcome
					{{ userSession.firstName }}
				</p>
				<a class="nav-link" href="/rewards">Rewards</a>
				<a class="nav-link" href="/coming">Cards</a>
				<a class="nav-link" href="/admin/items/list">Items</a>
				<a class="nav-link" href="/coming">Orders</a>
				<a class="nav-link" href="/menu">Menu</a>
				<a class="nav-link" href="/adminmenu">Admin</a>
				<a class="nav-link" href="/admin/users/list">Profile</a>
				<a class="nav-link" href="/logout">Logout</a>
			</nav>
		</div>
		<div class="col-sm-10">
			<form class="form-admin center">
				<h2>Admin Menu</h2>

				<nav class="navbar">
					<ul class="navbar-nav mx-auto text-left">
						<li class="nav-item">
							<a class="nav-link" href="/admin/coming/soon">Cards
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/admin/items/list">
								Items
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/admin/coming/soon">
								Orders
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/admin/users/list">
								Users
							</a>
						</li>
					</ul>
				</nav>
			</form>
		</div>
	</div>

{% endblock %}
