{% extends "admin/master.html.twig" %}

{% block title %}Admin Menu
{% endblock %}

{% block content %}
	<form class="form-admin center">
		<h2>Admin Menu</h2>

		<nav class="navbar">
			<ul class="navbar-nav mx-auto text-left">
				<li class="nav-item">
					<a class="nav-link" href="/additem">Items Add
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/admin/items/list">
						Items List - Delete - Edit
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">
						Add Card - under developement
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/admin/users/list">
						Users List
					</a>
				</li>
			</ul>
		</nav>
		<div class="”container”">
			<p>
				This Page is under developement
			</P>
		</div>
	</form>
{% endblock %}