{% extends "admin/master.html.twig" %}

{% block title %}Access denied{% endblock %}

{% block content %}
<form method="POST" class="form-admin center mb-5">
    <p>Access denied</p>
    <p>Access denied. You must be logged in as Administrator to access this page.
        <a href="/">Click to continue</a>.</p>
</form>
{% endblock %}