{% extends "admin/master.html.twig" %}

{% block title %}Operation successful{% endblock %}

{% block content %}
    <p>Operation successful - item deleted</p>
    <p><a href="/admin/items/list">Click here to continue</a></p>
{% endblock %}