{% extends "admin/master.html.twig" %}

{% block title %}Operation successful{% endblock %}

{% block content %}
    <h3>Item List - delete</h3>
    <p>Operation successful - item deleted</p>
    <p><a href="/admin/items/list">Click here to continue to List</a></p>
{% endblock %}