{% extends "admin/master.html.twig" %}

{% block title %}Operation successful
{% endblock %}

{% block content %}
	<h3 class="mt-5">
		{% if op == 'edit' %}Update Item{% else %}Add item
		{% endif %}
	</h3><br>
	<h2>Operation successful - item
		{% if op == 'add' %}added{% else %}updated
		{% endif %}
	</h2>
	<a href="/admin/items/add" class="btn btn-warning mt-3" role="button">Click here to continue to Items Add</a>
	<a href="/admin/items/list" class="btn btn-warning mt-3" role="button">Click here to continue to Items List</a>
{% endblock %}
