{% extends "admin/master.html.twig" %}

{% block title %}Operation successful{% endblock %}

{% block content %}
    <h2 class="mt-5">Operation successful - user {% if op == 'add' %}added{% else %}updated{% endif %}</h2>
    <p><a href="/admin/users/list" class="btn btn-warning ml-xs-0 ml-sm-5 mt-3" role="button">Click here to continue to Users List</a></p>
{% endblock %}