{% extends "master.html.twig" %}

{% block title %}Operation successful{% endblock %}

{% block content %}
    <p><a href="/menu">Click here to return to menu</a></p><br>
    <p><a href="/cart">Click here access shopping cart and place order</a></p>
{% endblock %}