{% extends "master.html.twig" %}

{% block title %}Operation successful{% endblock %}

{% block content %}
    <h3>Cart Item - delete</h3>
    <p>Operation successful - cart item deleted</p>
    <p><a href="/cart">Click here to continue to Cart</a></p>
{% endblock %}