{% extends "master.html.twig" %}

{% block title %}Record not found{% endblock %}

{% block content %}
    <p>Cart not found for this session and user </p>
    <p><a href="/menu">Click here to return to menu</a></p>
{% endblock %}