{% extends "master.html.twig" %}

{% block title %}Access denied
{% endblock %}

{% block content %}
    <div class="errors">
		<div class="row">
			<div class="col-lg-6 col-md-6 col-sm-12 errors">
				<img class="errors" src="/images/errorPadlock.png" width="100%">
			</div>
			<div class="col-lg-6 col-md-6 col-sm-12">
				<h1 class="textHuge errors">Error 403</h1>
				<h3>Access is denied</h3>
				<p>You don't have permission.<br/>
					<a href="/index">Click here</a>
					to continue.</p>
			</div>
		</div>
	</div>

{% endblock %}
