{% extends "master.html.twig" %}
{% block head %}
	<link rel="stylesheet" href="styles/stylesHome.css"/>
{% endblock head %}

{% block content %}
	<div id="homeBg" class="container-fluid center">
		<div class="row-M h-100 center">
			<div class="col-xs-12 center">
				<a href="/menu" class="center m-xs-0 mb-xs-2  m-md-5">
					<h2 class="text-white text-left center m-xs-0 mb-xs-5 m-md-5">View Menu</h2>
				</a>
				<h1 class="display-1 center text-white">
					<strong class="center m-xs-0 m-md-5 p-md-5">J<sub>
							i</sub>
						<sup>t</sup>
						t<sub>
							e</sub>
						<sup>r</sup>
						s</strong>
				</h1>
				<a href="/order" class="center m-xs-0 m-md-5">
					<h2 class="text-white text-right center m-xs-0 mt-md-5 mb-md-5">Place Order</h2>
				</a>
			</div>
		</div>
	</div>
{% endblock %}
