{% extends "master.html.twig" %}
{% block head %}
{% block title %}{% endblock title %}

{% endblock head %}

{% block content %}
<main class="homeBg">
		<div class="row row1">
			<div class="col"></div>
			<div class="col">
				<h2 class="center">Welcome to</h2>
			</div>
			<div class="col"></div>
		</div>

		<div class="row row2">
			<div class="col">
				<h2 class="center">View Menu</h2>
			</div>
			<div class="col">
				<img src="/images/coffeeDesign.jpg"/>
			</div>
			<div class="col">
				<h2 class="center">Place Order</h2>
			</div>
		</div>
		<div class="row row3">
			<div class="col"></div>
			<div class="col">
				<h1 class="center companyName">Jitters</h1>
			</div>
			<div class="col"></div>
		</div>
	</main>
{% endblock %}