{% extends "master.html.twig" %}
{% block head %}
<link rel="stylesheet" href="styles/stylesHome.css"/>
{% endblock head %}

{% block content %}
<main id="homeBg" class="container-fluid">
		<div class="row row1">
			<div class="col">
				<h2 class="textWhite">Welcome to</h2>
			</div>
		</div>

		<div class="row row2">
			<div class="col-4">
				<a href="/menu"><h2 class="textWhite goto">View Menu</h2></a>
			</div>
			<div class="col-4">
				<img src="/images/coffeeDesign.png" width="50%"/>
			</div>
			<div class="col-4">
			<a href="/order"><h2 class="textWhite goto">Place Order</h2></a>
			</div>
		</div>

		<div class="row row3">
			<div class="col">
				<h1 class="textWhite companyName">Jitters</h1>
			</div>
		</div>
	</main>
{% endblock %}