{% extends "master.html.twig" %}

{% block title %}Login successful{% endblock %}

{% block content %}
    <p>{{ userSession.firstName }} {{ userSession.lastName }} you are Logged in</p>
    <p><a href="/">Click to continue</a></p>
{% endblock %}

