{% extends "master.html.twig" %}

{% block title %}Login successful
{% endblock %}

{% block content %}
	<form class="form-login center">
		<h3>Login Success</h3>
		<img class="mb-4" src="/images/icons8-cup-50.png" alt="" width="52" height="52">
		<h4 class="h4 m-3 font-weight-normal">
		Welcome Back
			<span>{{ userSession.firstName }}
			{{ userSession.lastName }}</span>
				you are Logged in
		</h4>
		<br/>
	</form>
{% endblock %}