{% extends "master.html.twig" %}

{% block title %}Login successful{% endblock %}

{% block content %}
    <img class="mb-4" src="/images/icons8-cup-50.png" alt="" width="52" height="52">
    <span>{{ userSession.firstName }} {{ userSession.lastName }} you are Logged in</span>


 {#
<form class="form-login center" method="post">
		<h1 class="h3 mb-3 font-weight-normal">Jitters Login Form</h1><br/>
		
       
        <img class="mb-4" src="/images/icons8-cup-50.png" alt="" width="52" height="52">
		<span <h4 class="h4 mb-3 font-weight-normal">Already a member?
			<span class="h5 mb-3 font-weight-normal"><a href="/login">Log In</a></span></span>
		</h4>
       
        <br/>
 #}



{% endblock %}

