{% extends "master.html.twig" %}

{% block head %}
	{# <link rel="stylesheet" href="/styles/stylesMenu.css"/> #}
{% endblock head %}
{% block content %}
	<div class="container-fluid menu">
		<div class="row">
			<div class="col-sm-3"><img class="errors" src="/images/menuCoffees.jpg" width="100%"></div>
			<div class="col-sm-3">
				<div class="row">
					<div class="col-sm-9">Coffees</div>
					<div class="col-sm-1">sm</div>
					<div class="col-sm-1">med</div>
					<div class="col-sm-1">lrg</div>
				</div>
			</div>
			<div class="col-sm-3"><img class="errors" src="/images/menuTeas.jpg" width="100%"></div>
			<div class="col-sm-3">
				<div class="row">
					<div class="col-sm-9">Teas</div>
					<div class="col-sm-1">sm</div>
					<div class="col-sm-1">med</div>
					<div class="col-sm-1">lrg</div>
				</div>
			</div>
		</div>

        {# row 2 #}
		<div class="row">
			
			<div class="col-sm-3">
				<div class="row">
					<div class="col-sm-10">Pastries + Sandwiches</div>
					<div class="col-sm-2">Price</div>
				</div>
			</div>
			<div class="col-sm-3"><img class="errors" src="/images/menuPastries.jpg" width="100%"></div>
			<div class="col-sm-3">
				<div class="row">
					<div class="col-sm-10">Beans</div> 
					<div class="col-sm-2">Price</div>
				</div>
			</div>
			<div class="col-sm-3"><img class="errors" src="/images/menuCoffeeBean" width="100%"></div>
	
	</div>
    



{% endblock %}
