{% extends "master.html.twig" %}

{% block title %}Register successful
{% endblock %}

{% block content %}

	<form class="form-login center">
	<h3>Registration Successful</h3>
		<img class="mb-4" src="/images/icons8-cup-50.png" alt="" width="52" height="52">
		<h4 class="mb-3 font-weight-normal">
			<span>{{userSession.firstName}} {{ userSession.lastName }} </span></h4>
				<h2>Alright, you are now a Jitters member!</h2>
				<a href="/login" class="btn btn-warning m-2" role="button">Click here to login</a>
				<p>Don't forget to link your rewards card by visiting your profile and adding your rewards card number.</p>
					<a href="/profile" class="btn btn-warning m-2" role="button">Go to  Profile</a>
				</p>
			</span>
			<br/></form>
	{% endblock %}
