{% extends "master.html.twig" %}

{% block title %}Rewards
{% endblock %}
{% block head %}
	<link rel="stylesheet" href="styles/stylesRewards.css"/>
{% endblock head %}
{% block content %}
	<div id="rewardsBg" class="container-fluid center">
		<div class="row">
			<div class="col-sm-12 col-md-6 col-lg-6 mt-md-5">
            <h2>Jitters Rewards</h2>
				<br><h4>What are Points?</h4>
				Points are the base unit of the Jitters Rewards program. Jitters Rewards members earn 100 Points for each eligible transaction. Register your card on the website or the app, spend as little as 500 Points on a Hash Brown or spend as many as 2,200 Points on a lunch sandwich - the choice is yours!
				<br><br><h4>How do I earn Points?</h4>
				You earn 100 Points when you make an eligible purchase, which is a transaction with a pre-tax total of more than $0.50, after the redemptions of any rewards or the application of other discounts, made 30 minutes or more after your most recent eligible transaction at a participating location. If your transaction is less than or equal to $0.50 or is made within 30 minutes of your last eligible transaction, you will not receive 100 Points. This helps us keep the program fair for all of our guests.
			</div>
			<div class="col-sm-12 col-md-6 col-lg-6 mt-md-5">
                <h4 class="mt-md-5 pt-md-3">How can I track my Points balance?</h4>
				You can track your Points in the Jitters app or on our website.
				<br><br><h4>Do Points expire?</h4>
				Yes, Points expire 12 months after you earn them.
				<br><br><h4>Is there a maximum number of Points I can have at one time?</h4>
				The limit is 200,000 Points. Does that sound like a lot? That's because it is!
				<br><br><h4>Can I link more than one card to the same account?</h4>
				<p class="mb-5 pb-5">Only one physical card can be linked to each account. There is a limit of one digital card, one physical card and one account per person.</p>
			</div>
		</div>
	</div>
{% endblock %}
