/* Styles for error pages start */
.row {
    align-content: center;
    background: white;
    border-radius: 2rem;
    height: 80vh;
    margin: auto;
    width: 100vw;
}

.errors {
    align-self: center;
    display: flex;
    margin-top: 20px;
}

h3 {
    padding: 1rem 0;
}

.textHuge {
    font-size: 4rem;
    margin-top: 15%;
}