/* background yellow: rgb(243,197,49) */
body {
    background-color: rgb(243, 197, 49);
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    height: 100vh;
    padding-bottom: 58px;
    padding-top: 58px;
}

.center {
    text-align: center;
    margin: auto;
    align-content: center;
    padding: 20px;
}

a:link {
    color: whitesmoke;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:visited {
    color: white;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:hover {
    color: cyan;
    background-color: rgb(243,197,49);
    text-decoration: underline;
  }
  
  a:active {
    color:  cyan;
    background-color: transparent;
    text-decoration: underline;
  }

/* Styles for header start */
.container>nav {
    padding: 0px;
    text-align: center;

}

header,
footer {
    background-color: rgb(243, 197, 49);
    font-size: 2rem;
}

nav>ul {
    align-content: center;
    font-size: 1.5rem;
}

svg {
    padding-bottom: 0.5rem;
}

nav>ul>.justify-content-end {
    justify-content: end;
}

/* Styles for header end */

#centeredContent {
    background-color: white;
    margin: 0 auto;
    padding: 20px;
    width: 500px;
    border-radius: 4%;
}

/* Styles for forms start */
form {
    background-color: white;
    border-radius: 4%;
    margin: 20px auto;
    width: 50vw;
    padding: 20px;
    /* center vertical & horizontal*/
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

}

.errorMessage {
    background-color: red;
    color: white;
    font-weight: bold;
}

input {
    margin: 10px 0;
    border-bottom: 1px solid black;

}

input::text .form-control {
    border-bottom: 1px solid black;
}

/* Styles for forms end */

/* Styles for index page end */
footer {
    position: fixed;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#footer {
    bottom: 0;
    font-size: small;
    padding: 20px 0 0;
    position: fixed;
    text-align: center;
    margin: auto;
}