/* Styles for error pages start */
.row {
    background: white;
    align-content: center;
    height: 80vh;
    margin: auto;
    width: 100vw;
    border-radius: 2rem;
}
.errors {
    margin-top: 20px;
    align-self: center;
    display: flex;
}

h3 {
        padding: 1rem 0;
}
.textHuge {
    margin-top: 15%;
    font-size: 4rem;
}
