/* Styles for index page start */
#homeBg {
    background: url("/images/coffeebeans-cover.jpg");
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 83vh;
    /* center vertical & horizontal*/
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

/* img>#coffeeDesign {
    width: 25%;
} */

main >.row {
    color: white;
    /* align-content: center; */
}

main .row1 .row3{
    height: 25vh;
  /* center vertical & horizontal*/
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

main .row2 {
    height: 50vh;
    align-content: center;
}

.textWhite {
    color: white;
    text-align: center;
    align-content: center;
    margin-top: 1rem;
    font-size: 3rem;
}

.goto {
    color: white;
    font-weight: 600;
    text-decoration: underline;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.companyName {
    font-size: 5rem;
}