body {
    background-color: #fff;
}

#rewardsBg {
    background: url("/images/ordersPageBg.jpg");
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    color: white;
    /* center vertical & horizontal*/
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: left;
}

.pargs {
    width: 60%;
    margin-left: 2rem;
}

.row-m {
    align-items: center;
    margin: auto;
    text-align: center;
    width: 100vw;
}

div.container-fluid {
    width: 100%;
}

.title {
    margin-top: 80px;
    position: relative;
}

@media only screen and (max-width: 600px) {
    #rewardsBg {
        background: white;
        color: black;
    }
}